.wrapper__maine__contents__message
  .wrapper__maine__contents__message__info
    .wrapper__maine__contents__message__info__user
      ユーザー名
    .wrapper__maine__contents__message__info__date
      2019/10/26 16:00
  .wrapper__maine__contents__message__text
    メッセージ あああああああああああああ
