- current_user.groups.each do |group|
  .wrapper__side__contents__box
    = link_to group_messages_path(group), class: "wrapper__side__contents__box__link" do
      .wrapper__side__contents__box__link__group
        = group.name
      .wrapper__side__contents__box__link__text
        = group.show_last_message